@import "../../../scss/variables";
@import "../../../scss/elements";

.qls-board {
    border-bottom: 2px solid $qls-border-color;
    padding-bottom: $qls-size-1vw;
    
    .qls-board-bg {
        flex-direction: column;

        .qls-board-title, .qls-board-set {
            text-align: center;
        }

        .qls-board-set {
            font-size: $qls-size-2vw;
            .qls-update-icon-left, .qls-update-icon-right {
                display: none;
            }

            .qls-update-icon-left {
                margin-right: 20px;
            }

            .qls-update-icon-right {
                margin-left: 20px;
            }
        }
         
        .qls-board-title {
            background-color: darken($color: $qls-bg-color, $amount: 10%);
            color: $qls-text-color;
            padding: $qls-size-05vw 0;
        }

        .qls-board-team-container {
            .qls-board-team-a {
                border-right: 1px solid $qls-border-color;
            }
            
            .qls-board-team-b {
                border-left: 1px solid $qls-border-color;
            }
    
            .qls-board-team {
                flex: 1;
                text-align: center;

                .qls-board-set-result-team-a, .qls-board-set-result-team-b {
                    padding: 0 10px; 
                    font-size: $qls-size-2vw;   
                }

                .qls-board-set-result-team-a {
                    text-align: end;
                }

                .qls-board-set-result-team-b {
                    text-align: start;
                }

                .qls-board-team-name {
                    font-size: $qls-size-4vw;
                    padding-bottom: $qls-size-2vw;
                }
                
                .qls-board-team-active {
                    text-decoration: underline;
                    text-decoration-color: lighten($qls-bg-color, 30%);
                }
                
                .qls-board-result {
                    justify-content: center;
                    
                    .qls-board-header {
                        font-size: $qls-size-4vw;
                        align-self: center;
                    }
    
                    .qls-board-points {
                        line-height: $qls-size-10vw;
                        font-size: $qls-size-10vw;
                        padding: 0 $qls-size-2vw;
                    }
                }
    
                .qls-board-timeouts {
                    font-size: $qls-size-2vw;    
                    justify-content: center;
                    padding: $qls-size-2vw 0;
    
                    .qls-board-timeouts-number {
                        padding: 0 $qls-size-2vw;
                    }
                }
            }
        }
    }
}
