<div class="qls-dashboard qls-bg qls-bg-100vh">
    <div class="qls-flex qls-flex-direction qls-dashboard-manage qls-spacer-padding">
        <div class="qls-title qls-text-align-center">
            Manage
        </div>
        <div class="qls-flex-align-self-center qls-spacer">
            <button type="button" class="btn qls-btn qls-btn-square-90">Events</button>
            <button type="button" class="btn qls-btn qls-btn-square-90">Matches</button>
            <button type="button" class="btn qls-btn qls-btn-square-90">Share</button>
        </div>
    </div>
    <div class="qls-flex qls-flex-direction qls-dashboard-last-5">
        <div class="qls-flex-align-self-center qls-dashboard-last-5-events">
            <div class="qls-title qls-text-align-center qls-underline">
                Your last 5 Events
            </div>
            <ul>
                <li>Silkeborg Beachvolley 2018</li>
                <li>Silkeborg Beachvolley 2018</li>
                <li>Silkeborg Beachvolley 2018</li>
                <li>Silkeborg Beachvolley 2018</li>
                <li>Silkeborg Beachvolley 2018</li>
            </ul>
        </div>
        <div class="qls-flex-align-self-center qls-dashboard-last-5-matches">
            <div class="qls-title qls-text-align-center qls-underline">
                Your last 5 matches
            </div>
            <ul>
                <li>18-02-2018 Finle Lene og trine mod allan og peter</li>
                <li>18-02-2018 Finle Lene og trine mod allan og peter</li>
                <li>18-02-2018 Finle Lene og trine mod allan og peter</li>
                <li>18-02-2018 Finle Lene og trine mod allan og peter</li>
                <li>18-02-2018 Finle Lene og trine mod allan og peter</li>
            </ul>
        </div>
    </div>
</div>