<qls-share></qls-share>   
<div class="qls-dashboard">
    <div class="qls-flex qls-flex-direction qls-dashboard-manage qls-spacer-padding">
        <div class="qls-title qls-text-align-center">
            Manage your
        </div>
        <div class="qls-flex-align-self-center qls-spacer">
            <button type="button" class="btn qls-btn qls-btn-square-90" [routerLink]="['/admin/addevent']">Events</button>
            <button type="button" class="btn qls-btn qls-btn-square-90" [routerLink]="['/admin/addmatch']">Matches</button>
        </div>
    </div>
    <div class="qls-flex qls-flex-direction qls-dashboard-last-5 qls-list qls-list-btn">
        <div class="qls-flex-align-self-center qls-dashboard-last-5-events">
            <div class="qls-title qls-text-align-center qls-underline">
                Your last 5 Events
            </div>
            <ul>
                <li *ngFor="let event of last5Events">
                    <a [routerLink]="['/admin/addevent', event.id]">{{event.name}}</a>
                    <button type="button" class="qls-btn"><i class="fa fa-share" aria-hidden="true" (click)="shareLink('event', event)"></i></button>
                </li>
            </ul>
        </div>
        <div class="qls-flex-align-self-center qls-dashboard-last-5-matches">
            <div class="qls-title qls-text-align-center qls-underline">
                Your last 5 matches
            </div>
            <ul>
                <li *ngFor="let match of last5Matches">
                    <a [routerLink]="['/admin/addmatch', match.id]">{{match.name}}</a>
                    <button type="button" class="qls-btn"><i class="fa fa-share" aria-hidden="true" (click)="shareLink('match', match)"></i></button>
                </li>    
            </ul>
        </div>
    </div>
</div>