<div class="qls-flex qls-addevent">
  <div class="qls-addevent-title qls-title qls-spacer-padding">Events</div>
  <div class="qls-addevent-controls">
    <button mat-raised-button type="button" (click)="action('add')">Add</button>
    <button mat-raised-button type="button" (click)="action('edit')">Edit</button>
    <button mat-raised-button type="button" (click)="action('remove')">Remove</button>
  </div>
  <div class="qls-addevent-data" *ngIf="showData">
    <div class="qls-addevent-currentevents qls-addevent-form qls-form-width" *ngIf="showCurrentData">
      <form [formGroup]="currentDataForm" novalidate class="qls-flex qls-flex-direction">
        <mat-form-field>
          <mat-select placeholder="Select a event" (selectionChange)="currentDataSelected($event.value)">
              <mat-option [value]="0">---</mat-option>
              <mat-option *ngFor="let event of currentData | async" [value]="event.id">{{event.name}}</mat-option>  
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="qls-addevent-form qls-form-width" *ngIf="showForm">
      <form [formGroup]="addDataForm" (ngSubmit)="submit()" novalidate>
        <div class="qls-flex qls-flex-direction">
          <mat-form-field>
              <input matInput type="text" id="name" name="name" formControlName="name" placeholder="Name" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" id="description" name="description" formControlName="description"
                placeholder="Description">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="time" id="starttime" name="starttime" formControlName="starttime" placeholder="Start time">
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="startDatepicker" id="startdate" name="startdate" formControlName="startdate" placeholder="Start date">
                <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="time" id="endtime" name="endtime" formControlName="endtime" placeholder="End time">
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="endDatepicker" id="enddate" name="enddate" formControlName="enddate" placeholder="End date">
                <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatepicker></mat-datepicker>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">{{submitBtnText}}</button>
      </form>
    </div>
  </div>
</div>

<p>Value: {{ addDataForm.value | json }}</p>
<p>Validation status: {{ addDataForm.status }}</p>
