<div class="qls-flex qls-addevent">
  <div class="qls-addevent-title qls-title qls-spacer-padding">Events</div>
  <div class="qls-addevent-controls">
    <button type="button" class="btn qls-btn" (click)="action('add')">Add</button>
    <button type="button" class="btn qls-btn" (click)="action('edit')">Edit</button>
    <button type="button" class="btn qls-btn" (click)="action('remove')">Remove</button>
  </div>
  <div class="qls-addevent-data" *ngIf="showData">
    <div class="qls-addevent-currentevents qls-addevent-form qls-form-width" *ngIf="showCurrentData">
      <form [formGroup]="currentDataForm" novalidate>
        <div class="form-group">
          <label for="currentEvent">Your events</label>
          <select class="form-control" id="currentEvent" name="currentEvent" formControlName="currentEvent" (change)="currentDataSelected($event.target.value)">
            <option value="0" selected>Select a event</option>
            <option *ngFor="let event of currentData | async" [value]="event.id">{{event.name}}</option>  
          </select>
        </div>
      </form>
    </div>
    <div class="qls-addevent-form qls-form-width" *ngIf="showForm">
      <form [formGroup]="addDataForm" (ngSubmit)="submit()" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter event name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description" formControlName="description"
            placeholder="Enter description">
        </div>
        <div class="form-group">
          <label for="start">Start</label>
          <div class="qls-flex">
            <input type="time" class="form-control qls-form-control-time" id="starttime" name="starttime" formControlName="starttime">
            <span class="qls-form-plaintext">-</span>
            <input type="date" class="form-control qls-form-control-date" id="startdate" name="startdate" formControlName="startdate">
          </div>
        </div>
        <div class="form-group">
          <label for="endtime">End</label>
          <div class="qls-flex">
            <input type="time" class="form-control qls-form-control-time" id="endtime" name="endtime" formControlName="endtime">
            <span class="qls-form-plaintext">-</span>
            <input type="date" class="form-control qls-form-control-date" id="enddate" name="enddate" formControlName="enddate">
          </div>
        </div>
        <button type="submit" class="btn qls-btn">{{submitBtnText}}</button>
      </form>
    </div>
  </div>
</div>

<p>Value: {{ addDataForm.value | json }}</p>
<p>Validation status: {{ addDataForm.status }}</p>
