<div class="qls-flex qls-home">
  <div class="qls-home-title qls-title qls-spacer-padding">Home</div>
  <div class="qls-home-form qls-form-width">
    <form>  
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for match" aria-label="Recipient's username" aria-describedby="">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search qls-icon" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
    <div class="qls-flex qls-flex-direction qls-list mt-4">
        <div class="qls-flex-align-self-center">
          <div class="qls-title qls-text-align-center qls-underline">
            Matches today
          </div>
          <ul class="qls-home-matchestoday">
            <li>Silkeborg Beachvolley 2018</li>
            <li>Silkeborg Beachvolley 2018</li>
            <li>Silkeborg Beachvolley 2018</li>
            <li>Silkeborg Beachvolley 2018</li>
            <li>Silkeborg Beachvolley 2018</li>
          </ul>
        </div>
    </div>
  </div>
</div>