<div class="qls-flex qls-home">
  <div class="qls-home-title qls-title qls-spacer-padding">Home</div>
  <div class="qls-home-form qls-form-width">
    <form [formGroup]="searchForMatchesForm" (ngSubmit)="submit()" novalidate>  
      <div class="input-group">
        <input type="text" class="form-control" id="searchForMatches" name="searchForMatches" placeholder="Search for match" [(ngModel)]="searchForMatches" [ngbTypeahead]="search" formControlName="searchForMatches" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search qls-icon" aria-hidden="true"></i></button>
        </div>
      </div>
    </form>
    <div class="qls-flex qls-flex-direction qls-list qls-list-btn mt-4">
        <div class="qls-flex-align-self-center">
          <div class="qls-title qls-text-align-center qls-underline">
            Matches today
          </div>
          <ul class="qls-home-matchestoday">
            <li *ngFor="let match of matchesToday"><a [routerLink]="['/match', match.id]">{{match.name}}</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
<p>Value: {{ searchForMatchesForm.value | json }}</p>
<p>Validation status: {{ searchForMatchesForm.status }}</p>