<div class="qls-flex qls-bg qls-newuser">
  <div class="qls-newuser-title qls-title">Create new user</div>
  <div class="qls-newuser-form">
    <form>
      <div class="form-group">
        <label for="name">Name *</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="username">E-mail *</label>
        <input type="email" class="form-control" id="username" name="username" placeholder="Enter e-mail">
      </div>
      <div class="form-group">
        <label for="mobile">Mobile *</label>
        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter mobile number">
      </div>
      <div class="form-group">
        <label for="password">Password *</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
      </div>
      <button type="submit" class="btn qls-btn">Create new user</button>
    </form>
  </div>
</div>

