<div *ngIf="show" class="qls-popup-container qls-flex qls-flex-direction">
  <div class="qls-popup-title qls-flex-align-self-center" *ngIf="header">
    {{header}}
  </div>
  <div class="qls-popup-body qls-flex-align-self-center">
    {{body}}
  </div>
  <div class="qls-popup-buttons qls-flex-align-self-center">
    <button type="button" class="btn" *ngIf="showYesButton" (click)="popupResponse(button1Response)">{{button1Text}}</button>
    <button type="button" class="btn" (click)="popupResponse(button2Response)">{{button2Text}}</button>
  </div>
</div>