<div class="qls-flex qls-login">
  <div class="qls-login-title qls-title qls-spacer-padding">Login</div>
  <div class="qls-login-form qls-form-width">
    <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="email" class="form-control" id="username" name="username" [(ngModel)]="model.username" formControlName="username" placeholder="Enter username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" formControlName="password" placeholder="Enter password" required>
      </div>
      <div class="qls-flex qls-login-buttons qls-flex-justify-space-between">
        <button type="submit" class="btn qls-btn">Login</button>
        <button type="button" class="btn qls-btn">Create new user</button>
      </div>
    </form>
  </div>
</div>

<p>Value: {{ loginForm.value | json }}</p>
<p>Validation status: {{ loginForm.status }}</p>