<div class="qls-flex qls-login">
  <div class="qls-login-title qls-title qls-spacer-padding">Login</div>
  <div class="qls-login-form">
    <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate class="qls-flex qls-flex-direction">
      <mat-form-field>
        <input matInput type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password" required>
      </mat-form-field>
      <div class="qls-flex qls-login-buttons qls-flex-justify-space-between">
        <button mat-raised-button type="submit" color="primary">Login</button>
        <button mat-raised-button type="button" [routerLink]="['/signup']">Signup</button>
      </div>
    </form>
  </div>
</div>