<div class="qls-bg qls-board">
  <div class="qls-flex qls-board-bg">
    <div class="qls-board-title qls-title">{{title}}</div>
    <div class="qls-board-set">
      <div>Set {{currentSet}}</div>
    </div>
    <div class="qls-flex qls-board-team-container">
      <div class="qls-board-team qls-board-team-a">
        <div class="qls-board-set-result-team-a">{{setResultTeamA}}</div>
        <div class="qls-board-team-name qls-board-team-name-a">{{nameTeamA}}</div>
        <div class="qls-flex qls-board-result">
          <div class="qls-board-header">Points</div>
          <div class="qls-board-points">{{currentPointsTeamA}}</div>
        </div>
        <div class="qls-flex qls-board-timeouts">
          <div class="qls-board-timeouts-header">Timeouts</div>
          <div class="qls-board-timeouts-number">{{currentTimeoutTeamA}} | {{timeoutMax}}</div>
        </div>
      </div>
      <div class="qls-board-team qls-board-team-b">
          <div class="qls-board-set-result-team-b">{{setResultTeamB}}</div>
        <div class="qls-board-team-name qls-board-team-name-b">{{nameTeamB}}</div>
        <div class="qls-flex qls-board-result">
            <div class="qls-board-header">Points</div>
            <div class="qls-board-points">{{currentPointsTeamB}}</div>
        </div>
        <div class="qls-flex qls-board-timeouts">
          <div class="qls-board-timeouts-header">Timeouts</div>
          <div class="qls-board-timeouts-number">{{currentTimeoutTeamB}} | {{timeoutMax}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
