<div class="qls-flex qls-newuser">
  <div class="qls-newuser-title qls-title qls-spacer-padding">Signup</div>
  <div class="qls-newuser-form qls-form-width">
    <form [formGroup]="signupForm" (ngSubmit)="submit()" novalidate>
      <div class="qls-flex qls-flex-direction">
        <mat-form-field>
          <input matInput type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="E-mail" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="form-control" id="mobile" name="mobile" formControlName="mobile" placeholder="Mobile" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Password" required>
        </mat-form-field>
      </div>
      
      <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
  </div>
</div>

<p>Value: {{ signupForm.value | json }}</p>
<p>Validation status: {{ signupForm.status }}</p>