.qls-flex {
    display: flex;
}

.qls-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $qls-text-color;
}

.qls-underline {
    text-decoration: underline;
}

.qls-btn {
    background-color: $qls-bg-color;
    color: $qls-text-color;
    border-color: $qls-border-color;
}

.qls-btn:disabled, .qls-btn:disabled:hover {
    background-color: darken($qls-bg-color, 20%);
    color: darken($qls-text-color, 20%);
    border-color: darken($qls-border-color, 20%);
    cursor: not-allowed;
}

.qls-btn:hover {
    background-color: darken($qls-bg-color, 10%);
}

.qls-btn-popup {
    background-color: $qls-bg-popup-color;
    color: $qls-text-color;
    border-color: $qls-border-color;
}

.qls-btn-popup:hover {
    background-color: darken($qls-bg-popup-color, 10%);
}

.qls-btn-popup:disabled, .qls-btn-popup:disabled:hover {
    background-color: darken($qls-bg-popup-color, 20%);
    color: darken($qls-text-color, 20%);
    border-color: darken($qls-border-color, 20%);
    cursor: not-allowed;
}

.qls-btn-round {
    border-radius: 50%;
    border: 2px solid white;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    line-height: 2rem;
}

.qls-btn-square {
    min-width: 70px;
}

.qls-btn-square-90 {
    min-width: 90px;
}

.qls-bg-active {
    background-color: darken($qls-bg-color, 10%);
}

.qls-form-width {
    @media only screen and (max-device-width : 375px) {
        width:90vw;
    }

    width: 60vw;
}

.qls-flex-justify-space-between {
    justify-content: space-between;
}

.qls-flex-justify-center {
    justify-content: center;
}

.qls-flex-direction {
    flex-direction: column;
}

.qls-flex-align-self-center {
    align-self: center;
}

.qls-text-align-center {
    text-align: center;
}

.qls-spacer {
    margin: 10px 0;
}

.qls-spacer-padding {
    padding: 10px 0;
}

.qls-display-none {
    display: none;
}

.qls-display-block {
    display: block;
}

.qls-form-control-time {
    width: 100px;
}

.qls-form-control-date {
    width: 180px;
}

.qls-form-plaintext {
    padding: .375rem .40rem;
}

.qls-list {
    ul {
        text-align: center;
        list-style: none;
        padding: 0;

        li {
            font-size: $qls-size-2vw;
            padding: 0.8vh 0;
        }
    }
}

.qls-list-btn {
    ul {
        li {
            a, button {
                border: 1px solid white;
                padding: 10px;
                text-align: center;
                border-radius: 4px;
                color: $qls-text-color;
            }

            button {
                padding: 9px 10px 8px 10px;
            }
        }
    }
}

.qls-icon {
    color: $qls-text-color;
}

.qls-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 5;
}
