.qls-flex {
    display: flex;
}

.qls-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.qls-underline {
    text-decoration: underline;
}

.qls-btn {
    background-color: $qls-bg-color;
    color: $qls-text-color;
    border-color: $qls-border-color;
}

.qls-btn-round {
    border-radius: 50%;
    border: 2px solid white;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    line-height: 2rem;
}

.qls-btn-square {
    min-width: 70px;
}

.qls-btn-square-90 {
    min-width: 90px;
}

.qls-bg-active {
    background-color: darken($qls-bg-color, 10%);
}

.qls-form-width {
    @media only screen and (max-device-width : 375px) {
        width:90vw;
    }

    width: 60vw;
}

.qls-flex-justify-space-between {
    justify-content: space-between;
}

.qls-flex-justify-center {
    justify-content: center;
}

.qls-flex-direction {
    flex-direction: column;
}

.qls-flex-align-self-center {
    align-self: center;
}

.qls-text-align-center {
    text-align: center;
}

.qls-spacer {
    margin: 10px 0;
}

.qls-spacer-padding {
    padding: 10px 0;
}

.qls-display-none {
    display: none;
}

.qls-display-block {
    display: block;
}

.qls-form-control-time {
    width: 100px;
}

.qls-form-control-date {
    width: 180px;
}

.qls-form-plaintext {
    padding: .375rem .40rem;
}

.qls-list {
    ul {
        list-style: none;
        padding: 0;

        li {
            font-size: $qls-size-2vw;
            padding: 0.8vh 0;
        }
    }
}

.qls-icon {
    color: $qls-text-color;
}