$qls-text-color: #ffffff;
$qls-border-color: #ffffff;
$qls-bg-color: #4c5259;
$qls-size-05vw: 0.5vw;
$qls-size-1vw: 1vw;
$qls-size-2vw: 2vw;
$qls-size-3vw: 3vw;
$qls-size-4vw: 4vw;
$qls-size-10vw: 10vw;
$qls-size-100vw: 100vw;