$qls-text-color: #ffffff;
$qls-border-color: #ffffff;
$qls-bg-color: #4c5259;
$qls-bg-popup-color: #5484df;
$qls-size-05vw: 0.5vw;
$qls-size-1vw: 1vw;
$qls-size-1-5vw: 1.5vw;
$qls-size-2vw: 2vw;
$qls-size-3vw: 3vw;
$qls-size-4vw: 4vw;
$qls-size-10vw: 10vw;
$qls-size-50vw: 50vw;
$qls-size-60vw: 60vw;
$qls-size-100vw: 100vw;
